body {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  position: absolute;
  margin: 0;
  font-family: Monaco, Consolas, 'Courier New', monospace;
  font-size: 9px;
  text-align: right;
  right: 13px;
}
.buttons-container p {
  margin: 0;
}
.buttons-container.top {
  top: 10px;
}
.buttons-container.bottom {
  bottom: 10px;
}
.buttons-container .button {
  margin: 0 0 5px;
  color: #444;
  cursor: pointer;
}
.buttons-container .button.reverse-tide {
  display: none;
}

.svg-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
}

.border {
  stroke: #222222;
  fill: none;
  stroke-width: 10;
}

@media (max-width: 500px) {
  .svg-container {
    width: 90vw;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .buttons-container {
    font-size: 14px;
  }
}